@inherits UmbracoViewPage

<div class="MainHeaderContainer">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block">
                <img src="~/Media/NET-Logo.png" style="width: 175px;" alt="NET Account Services" />
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <h1 class="site-heading text-center text-white d-none d-lg-block">
                    <span class="site-heading-upper text-primary mb-3">NET Account Services</span>
                </h1>
            </div>
        </div>
    </div>
</div>